{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<nav class="mb-5 text-center">
    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
</nav>
<div class="row text-center">
    {% for product in products %}
        <div class="col-3">
            <div class="card mb-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name|truncatechars:48 }}</h5>
                    <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                    <div class="btn-group btn-group-lg btn-block" role="group" aria-label="Basic example">
                        <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-outline-primary">Просмотр</a>
                        <button type="button" class="btn btn-outline-primary">Купить</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
